<!DOCTYPE html>
<html>
<head>
<title>Purple 404 Error page template Flat Responsive Widget Template | 404Pagefree.com</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--//Custom Theme files -->
<link href='//fonts.googleapis.com/css?family=Rubik+Mono+One' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- main -->
	<div class="main">
		<div class="error-page">
			<h1>404<br>ERROR</h1>
			<p>PAGE NOT FOUND</p>
		</div>	
	</div>
	<!--//main -->
	<div class="copyright">
		<p> &copy; <script type="text/javascript">
  document.write(new Date().getFullYear());
</script> Purple 404 Error page . All rights reserved | Design by <a href="http://404Pagefree.com/" target="_blank" >404Pagefree</a></p>
	</div>
</body>
</html>
