<button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="showL1()">Unit 1</button>
<div *ngIf="mostrarLeccionesU1">
    <button type="button" name="" id="" class="btn btn-success btn-lg btn-block" (click)="u1l1y2()">Lesson 1-2</button>
    <button type="button" name="" id="" class="btn btn-success btn-lg btn-block" (click)="u1l3y4()">Lesson 3-4</button>
    <button type="button" name="" id="" class="btn btn-success btn-lg btn-block" (click)="u1l5y6()">Lesson 5-6</button>
    <button type="button" name="" id="" class="btn btn-success btn-lg btn-block" (click)="u1l7y8()">Lesson 7-8</button>
</div>
<button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="showL2()">Unit 2</button>
<div *ngIf="mostrarLeccionesU2">
    <button type="button" name="" id="" class="btn btn-success btn-lg btn-block" (click)="u2l1y2()">Lesson 1-2</button>
    <button type="button" name="" id="" class="btn btn-success btn-lg btn-block" (click)="u2l3y4()">Lesson 3-4</button>
    <button type="button" name="" id="" class="btn btn-success btn-lg btn-block" (click)="u2l5y6()">Lesson 5-6</button>
    <button type="button" name="" id="" class="btn btn-success btn-lg btn-block" (click)="u2l7y8()">Lesson 7-8</button>
</div>
<button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="showL3()">Unit 3</button>
<div *ngIf="mostrarLeccionesU3">
    <button type="button" name="" id="" class="btn btn-success btn-lg btn-block" (click)="u3l1y2()">Lesson 1-2</button>
    <button type="button" name="" id="" class="btn btn-success btn-lg btn-block" (click)="u3l3y4()">Lesson 3-4</button>
    <button type="button" name="" id="" class="btn btn-success btn-lg btn-block" (click)="u3l5y6()">Lesson 5-6</button>
    <button type="button" name="" id="" class="btn btn-success btn-lg btn-block" (click)="u3l7y8()">Lesson 7-8</button>
</div>
<button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="showL4()">Unit 4</button>
<div *ngIf="mostrarLeccionesU4">
    <button type="button" name="" id="" class="btn btn-success btn-lg btn-block" (click)="u4l1y2()">Lesson 1-2</button>
    <button type="button" name="" id="" class="btn btn-success btn-lg btn-block" (click)="u4l3y4()">Lesson 3-4</button>
    <button type="button" name="" id="" class="btn btn-success btn-lg btn-block" (click)="u4l5y6()">Lesson 5-6</button>
    <button type="button" name="" id="" class="btn btn-success btn-lg btn-block" (click)="u4l7y8()">Lesson 7-8</button>
</div>



