<div class="btn-group" role="group" aria-label="Menu" id="botonera">
    <button type="button" class="btn btn-success" id="botonera1" [routerLink]="['/home']" routerLinkActive="btn-success"><i class="fas fa-home fa-3x"></i></button>
    <button type="button" class="btn btn-dark" id="botonera1" [routerLink]="['/actividad1']"><i class="fas fa-comment fa-3x"></i></button>
    <button type="button" class="btn btn-dark" id="botonera2" [routerLink]="['/actividad2']"><i class="fas fa-comment-dots fa-3x"></i></button>
    <button type="button" class="btn btn-dark" id="botonera3"><i class="fas fa-comments fa-3x"></i></button>
    <button type="button" class="btn btn-dark" id="botonera4"><i class="fas fa-microphone-alt fa-3x"></i></button>
    <button type="button" class="btn btn-dark" id="botonera5"><i class="fas fa-check-square fa-3x"></i></button>
</div>