<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Voice</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" [routerLink]="['home']" href="#">Home</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" href="#" [routerLink]="['contenido']">Contenido</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" href="#" [routerLink]="['actividad1']">Actividad 1</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" href="#" [routerLink]="['actividad2']">Actividad 2</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" href="#" [routerLink]="['actividad3']">Actividad 3</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" href="#" [routerLink]="['actividad4']">Actividad 4</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" href="#" [routerLink]="['actividad5']">Actividad 5</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" href="#" [routerLink]="['test']">Test</a>
        </li>
      </ul>
    </div>
  </nav>

