/* You can add global styles to this file, and also import other style files */
html
{
	height:100%
}

body
{
height:100%;
font-size:18px;
font-family: "Comic Sans MS", "Comic Sans", "roboto", "arial";
font-weight:400;
background:#f2f2f2;
color:#333;
}

.contenedor
{
  width:800px;
  height:600px;
  margin-left:auto;
  margin-right:auto;
  border-style: solid;
  border-width: 1px;
  margin-top:0px;
  /* background-image: url("imagenes/2A.jpg"); */
  background-image: url("assets/img/2A.jpg");
  background-size: cover;
}

.cabecera
{
  grid-area: cabecera;
}

.botonEscucha
{
  width:50px;
  height:50px;	
  border:none;
  position:relative;
  border-radius:100px;
  /* background-image: url("imagenes/microfono.png"); */
  background-image: url("assets/img/microfono.png");
  background-size: cover;
  /* top:-150px; */
  /* margin-left:auto; */
  /* margin-right:auto; */
  top: 48px;
  display: none;
}
.botonEscucha button
{
  width:100%;
  height:100%;	
  background-color:transparent;
  border:none;
  cursor:pointer;
  display: none;
}
#botonPlay
{
  width:50px;
  height:50px;	
  border:none;
  /* position:relative; */
  position: absolute;
  border-radius:100px;
  /* background-image: url("imagenes/parlante.png"); */
  background-image: url("assets/img/parlante.png");
  background-size: cover;
  /* top: -331px; */
  /* left: 780px; */
  right: -19px;
  top: 50px;
  z-index: 4;
  display: none;
}
#botonPlay button
{
  width:100%;
  height:100%;	
  background-color:transparent;
  border:none;
  cursor:pointer;
}
#correcto
{
  width:60px;
  height:60px;	
  /* background-image: url("imagenes/ok.gif"); */
  background-image: url("assets/img/ok.gif");
  visibility:hidden;
  background-size: cover;
  position:relative;
  left:632px;
}
#incorrecto
{
  width:200px;
  height:160px;	
  /* background-image: url("imagenes/tryagain.gif"); */
  background-image: url("assets/img/tryagain.gif");
  background-size: cover;
   visibility:hidden;
   position:relative;
  left:550px;
  top:-103px;
}
#contenedorTitulo
{
  position:relative;
  width: 360px;
  height: 50px;
  /*padding-top: 1px;*/
  background-size: cover;
  /* background-image: url("imagenes/texto5.png"); */
  background-image: url("assets/img/texto5.png");
  text-align: center;
  margin-top: -200px;
  margin-left:auto;
  margin-right:auto;
}
#contenedorFrase
{
  position:relative;
 width: 360px;
  height: 343px;
  background-size: cover;
  /* background-image: url("imagenes/texto7.png"); */
  background-image: url("assets/img/texto7.png");
  text-align: center;
  /*margin-top: -150px;*/
  margin-left:auto;
  margin-right:auto;
}
#contenedorFrase p
{
  padding-top: 0px;
}
#fraseIntermedia
{
  padding-top: 30px;
}
#nuevo
{
  padding-top: 50px;
}
#contenedorOutput 
{
  margin-left:auto;
  margin-right:auto;
  margin-top: -100px;
  text-align: center;
  border-radius:15px;
  width:40%;
  background-color:white;
}
.cuadroAzul 
{
  width: 280px;
  height: 81px;
  /* background-image: url("imagenes/nombre.png"); */
  background-image: url("assets/img/nombre.png");
  background-size: cover;
  position: absolute;
  top: -0px;
  left: 769px;
}

.ecogeVoz
{
  width: 120px;
  height:120px;
  position:relative;
  /* top: 93px; */
  left: 644px;
  bottom: 130px;
  visibility: hidden;
}
.ecogeVoz button
{
  width:100%;
  height:100%;	
  background-color:transparent;
  border:none;
  cursor:pointer;
}
.vozHombre
{
  /* background-image: url("imagenes/hombre.png"); */
  background-image: url("assets/img/hombre.png");
  background-size: cover;
  position:relative;
  width: 60px;
  height:60px;
  cursor:pointer;
  margin-left:auto;
  margin-right:auto;
}
.vozMujer
{
  /* background-image: url("imagenes/mujer.png"); */
  background-image: url("assets/img/mujer.png");
  background-size: cover;
  position:relative;
  width: 60px;
  height:60px;
  cursor:pointer;
  float:left;
}
.vozMaquina
{
  /* background-image: url("imagenes/maquina.png"); */
  background-image: url("assets/img/maquina.png");
  background-size: cover;
  position:relative;
  width: 60px;
  height:60px;
  cursor:pointer;
  float:left;
}
.fila1
{
  width: 120px;
  height:60px;
  border:none;
}
.fila2
{
 width: 120px;
   height:60px;
  border:none;
}
.backNext
{
  width: 200px;
  height:60px;
  position:relative;
  top: -134px;
  /* left: 582px; */
  /* margin-top: 10px; */
  margin-left: auto;
  margin-right: auto;
}
.back
{
  /* background-image: url("imagenes/back.png"); */
  background-image: url("assets/img/back.png");
  background-size: cover;
  position:relative;
  width: 100px;
  height:100%;
  float:left;
  cursor:pointer;
  /* top:330px; */
}
.next
{
   /* background-image: url("imagenes/next.png"); */
   background-image: url("/assets/img/next.png");
   background-size: cover;
   position:relative;
   width: 100px;
   height:100%;
   float:left;
  cursor:pointer;
  /* top:330px; */
  display: none;
}

.nombre
{
  /* background-image: url("imagenes/nombre.png"); */
  background-image: url("assets/img/nombre.png");
  background-size: cover;
  width: 280px;
  height: 70px;
  float: right;
  display:grid;
  grid-template-areas: 
  "DNNombre DNActividad DNUnidad";
  grid-template-columns: 48% 20% 32%;
}

.nombre div
{
  text-align:center;
}
.nombre div p
{
  padding-top:6px;
}

.DNNombre
{
  grid-area: DNNombre;
  position: relative;
  top: 24px;
}
.DNActividad
{
  grid-area: DNActividad;
  position: relative;
  top: 24px;
}
.DNUnidad
{
  grid-area: DNUnidad;
  position: relative;
  top: 24px;
}

.titulo
{
	grid-area: titulo;
	text-align: center;
}
.titulo div p
{
	font-size: 22px;
	font-weight: bold;
}
.titulo div
{
	width: 360px;
    height: 50px;
    background-size: cover;
    /* background-image: url(imagenes/texto5.png); */
    background-image: url("assets/img/texto5.png");
	margin-left: auto;
	margin-right: auto;
}

#fraseLeer
{
 font-size:25px;
 font-style: italic;
 font-weight: bold;
}
#fraseLeida
{
 font-size:20px;
 font-style: italic;
 font-weight: bold;
 width: 90%;
 margin-left: auto;
 margin-right: auto;
}
#feedback
{
 color:red;
 font-size:20px;
 font-style: italic;
 font-weight: bold;
}
.espectro
{
  /* width: 100px; */
  width: 70px;
  height: 50px;
  /* background-image: url("imagenes/spectro3.gif"); */
  background-image: url("assets/img/spectro3.gif");
  background-size: cover;
  position: relative;
  top: -9px;
  left: 62px;
  /* visibility:hidden; */
  display: none;
  float: left;
  margin-top: 5px;
}

.info
{
  width:70px;
  height:70px;
  /* background-image: url("imagenes/bt_info.png"); */
  background-image: url("assets/img/bt_info.png");
  background-size: cover;
  position:relative;
  /* top: -815px; */
  /* left: 274px; */
  cursor:pointer;
}

.mostrarInfo
{
  width:800px;
  height:600px;
  /* position:relative; */
  position: absolute;
  /* background-image: url("imagenes/info1.png"); */
  background-image: url("assets/img/info1.png");
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* top:-849px; */
  z-index: 5;
  top :57px;
  left:50%;
  transform: translateX(-50%);
}
.ocultaInfo
{
  width:0px;
  height:0px;
}

.izq
{
	grid-area: izq;
}
.centro
{
	grid-area: centro;
	/* background-image: url("imagenes/texto7.png"); */
	background-image: url("assets/img/texto7.png");
    background-size: cover;
    width: 400px;
    height: 375px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -42px;
}
.contenidoCentro
{
	text-align: center;
	width: 80%;
	height: 70%;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	margin-top: 50px;
	grid-template-columns: 1fr;
	grid-template-rows: 20% 20% 40% 20%;
	grid-template-areas: 
		"fraseCentro"
		"escuchaCentro"
		"resultadoCentro"
		"botonesCentro";
	font-size: 30px;
}

.fraseCentro
{
	grid-area: fraseCentro;
	position: relative;
}
.contenidoCentro p
{
  margin: 0px;
  position: relative;
  top: 50px;
}
.botonParlante
{
	grid-area: botonParlante;
}
.escuchaCentro
{
	grid-area: escuchaCentro;
}
.resultadoCentro
{
	grid-area: resultadoCentro;
}
.botonesCentro
{
	grid-area: botonesCentro;
  text-align: center;
  position: relative;
  top: 26px;
  right: 98px;
}

.contenedorBotones
{
	width: 160px;
	margin-left: auto;
	margin-right: auto;
}
.derecha
{
	grid-area: derecha;
	position: relative;
}
.pieIzq
{
	grid-area: pieIzq;
}
.pieCentro
{
	grid-area: pieCentro;
}
.pieDer
{
	grid-area: pieDer;
}

.siguiente
{
  width:85px;
  height:50px;	
  border:none;
  /* background-image: url("imagenes/next.png"); */
  background-image: url("assets/img/next.png");
  background-size: cover;
  float: right;
  display: none;
  position: relative;
  right: 20px;
  bottom: 5px;
}
.siguiente button
{
  width:100%;
  height:100%;	
  background-color:transparent;
  border:none;
  cursor:pointer;
}

#btnStart
{
  border:none;
  /* background-image: url("imagenes/START.png"); */
  background-image: url("assets/img/START.png");
  background-size: cover;
  width:100px;
  height:75px;	
	margin-left: auto;
	margin-right: auto;
	z-index:3;
    position:relative;
    top: 80px;
    cursor: pointer;
}

#ok
{
	/* background-image: url("imagenes/ok.gif"); */
	background-image: url("assets/img/ok.gif");
  background-size: cover;
  width: 100px;
  height:100px;
  position:absolute;
  	z-index: 2;
  	top :150px;
  	left:50%;
	transform: translateX(-50%);
	/* opacity: 0; */
}

#tryAgain
{
	/* background-image: url("imagenes/tryagain.gif"); */
	background-image: url("assets/img/tryagain.gif");
  background-size: cover;
  width: 300px;
  height:250px;
  position:absolute;
  	z-index: 2;
  	top :70px;
  	left:50%;
	transform: translateX(-50%);
	/* opacity: 0; */
}

.output {
    position: relative;
    top: 29px;
  }
  
  .resultado {
    position: relative;
    top: 60px;
  }





















html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
